body {
    background-color: #282828;
}

.menu button {
    background-color: transparent !important;
}

.start {

}

.btn-lg {
    /*font-size: 25px;*/
    /*font-family: Arial, sans-serif;*/
}

.row.menu {
    margin: 20px
}

.clock {
    display: inline-block;
    /*border: solid 5px rgb(135, 206, 235);*/
    /*border-radius: 30px;*/
    margin: 40px;
    cursor: move;
}

.knob.invisible {
    color: #282828
}

.info {
    margin-left: 20px
}

.input-info {
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(135, 206, 235);
    background-color: #282828;
    border: none;
    border-bottom: solid 5px rgb(135, 206, 235);
}
